body {
	background: burlywood;
}

/* Navbar */

.navbar {
	min-height: 40px !important;
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-nav > li > a, .navbar-brand {
	padding-top: 6px !important;
	padding-bottom: 0 !important;
	height: 33px;
}

.navbar-default {
  background-color: antiquewhite;
  border-color: black;
}
.navbar-default .navbar-brand {
  color: black;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: black;
}
.navbar-default .navbar-text {
  color: black;
}
.navbar-default .navbar-nav > li > a {
  color: black;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: black;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: black;
  background-color: beige;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: black;
  background-color: beige;
}
.navbar-default .navbar-toggle {
  border-color: aquamarine;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: beige;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #b6def0;
}

/* Custom */
.main-color-bg {
	background-color: black !important;
	border-color: #4d93e1 !important;
	color: #ffffff !important;
}

/* Header */

#header {
	background: black;
	color: #fff;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

#header .create {
	padding-top: 20px;
}

/* Breadcrumb */

.breadcrumb {
	background: black;
	color: beige;
}

.breadcrumb a {
	color: beige;
}

/* Progress Bars*/

.progress-bar {
	background: #333;
	color: beige;
}

.dash-box {
	text-align: center;
}

#login {
	margin-top: 30px;
}

/* Footer */

#footer {
	background: #333;
	color: #fff;
	text-align: center;
	padding: 30px;
	margin-top: 30px;

}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #b6def0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #b6def0;
    background-color: black;
  }
}
